In [1]:
from openTSNE import TSNE
from openTSNE.callbacks import ErrorApproximations
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
file = 'openings30.csv'

In [2]:
df = pd.read_csv(file, header=0)

In [3]:
fields = ['a8','b8','c8','d8','e8','f8','g8','h8','a7','b7','c7','d7','e7','f7','g7','h7','a6','b6','c6','d6','e6','f6','g6','h6','a5','b5','c5','d5','e5','f5','g5','h5','a4','b4','c4','d4','e4','f4','g4','h4','a3','b3','c3','d3','e3','f3','g3','h3','a2','b2','c2','d2','e2','f2','g2','h2','a1','b1','c1','d1','e1','f1','g1','h1']
print(len(df[fields]))
df[fields].head()

13428

,a8,b8,c8,d8,e8,f8,g8,h8,a7,b7,...,g2,h2,a1,b1,c1,d1,e1,f1,g1,h1
0,br,bn,bb,bq,bk,bb,bn,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,wn,wr
1,br,bn,bb,bq,bk,bb,bn,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr
2,br,bn,bb,bq,bk,bb,bn,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr
3,br,bn,bb,bq,bk,bb,bn,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr
4,br,bn,bb,bq,bk,bb,NaN,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr

In [4]:
df = df[fields].fillna('')
df.head()

,a8,b8,c8,d8,e8,f8,g8,h8,a7,b7,...,g2,h2,a1,b1,c1,d1,e1,f1,g1,h1
0,br,bn,bb,bq,bk,bb,bn,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,wn,wr
1,br,bn,bb,bq,bk,bb,bn,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,,wr
2,br,bn,bb,bq,bk,bb,bn,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,,wr
3,br,bn,bb,bq,bk,bb,bn,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,,wr
4,br,bn,bb,bq,bk,bb,,br,bp,bp,...,wp,wp,wr,wn,wb,wq,wk,wb,,wr

In [5]:
data = df[fields].to_numpy()
print(data)

[['br' 'bn' 'bb' ... 'wb' 'wn' 'wr']
 ['br' 'bn' 'bb' ... 'wb' '' 'wr']
 ['br' 'bn' 'bb' ... 'wb' '' 'wr']
 ...
 ['br' '' '' ... '' '' 'wr']
 ['br' '' '' ... '' '' 'wr']
 ['br' '' '' ... '' '' 'wr']]

In [6]:
def one_hot(array):
    unique, inverse = np.unique(array, return_inverse=True)
    onehot = np.eye(unique.shape[0])[inverse]
    return onehot

oh_data = one_hot(data)
data = oh_data.reshape(data.shape[0], -1)
# print(data)
print(data.shape)

(13428, 832)

In [7]:
seed = 42
tsne = TSNE(
    perplexity=200,
    n_jobs=6,
    metric='euclidean',
    random_state=seed,
    verbose=True
)

In [8]:
# %time embedding = tsne.fit(np.array(data))

In [9]:
df = pd.read_csv(file, header=0)

In [10]:
# df['x'] = embedding[:,0]
# df['y'] = embedding[:,1]
# df.head()

In [11]:
df.to_csv(file+'tsne_seed'+str(seed)+'.csv')

In [12]:
import umap.umap_ as umap
from matplotlib import pyplot as plt
np.random.seed(seed)

2022-01-03 16:33:05.917822: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-01-03 16:33:05.917891: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [58]:
n_epochs=500
n_neighbors=30
reducer = umap.UMAP(random_state=seed,
                    n_neighbors=n_neighbors,
                    verbose=True,
                    n_epochs=n_epochs)

In [59]:
umap_embedding = reducer.fit_transform(data)

UMAP(dens_frac=0.0, dens_lambda=0.0, n_epochs=500, n_neighbors=30,
     random_state=42, verbose=True)
Construct fuzzy simplicial set
Mon Jan  3 16:50:25 2022 Finding Nearest Neighbors
Mon Jan  3 16:50:25 2022 Building RP forest with 11 trees
Mon Jan  3 16:50:25 2022 NN descent for 14 iterations
	 1  /  14
	 2  /  14
	 3  /  14
	Stopping threshold met -- exiting after 3 iterations
Mon Jan  3 16:50:27 2022 Finished Nearest Neighbor Search
Mon Jan  3 16:50:27 2022 Construct embedding
	completed  0  /  500 epochs
	completed  50  /  500 epochs
	completed  100  /  500 epochs
	completed  150  /  500 epochs
	completed  200  /  500 epochs
	completed  250  /  500 epochs
	completed  300  /  500 epochs
	completed  350  /  500 epochs
	completed  400  /  500 epochs
	completed  450  /  500 epochs
Mon Jan  3 16:51:30 2022 Finished embedding

In [60]:
print(umap_embedding.shape)

(13428, 2)

In [61]:
df['x'] = umap_embedding[:,0]
df['y'] = umap_embedding[:,1]
df.head()

,Unnamed: 0,x,y,line,cp,algo,oldage,a8,b8,c8,...,b1,c1,d1,e1,f1,g1,h1,max20,max30,max40
0,0,29.207199,-2.368602,0,1,0,0,br,bn,bb,...,wn,wb,wq,wk,wb,wn,wr,True,True,True
1,1,-31.322096,-5.196455,0,0,0,1,br,bn,bb,...,wn,wb,wq,wk,wb,NaN,wr,True,True,True
2,2,-14.134911,-15.549742,0,0,0,2,br,bn,bb,...,wn,wb,wq,wk,wb,NaN,wr,True,True,True
3,3,-29.951729,-5.016765,0,0,0,3,br,bn,bb,...,wn,wb,wq,wk,wb,NaN,wr,True,True,True
4,4,-32.660789,-13.336039,0,0,0,4,br,bn,bb,...,wn,wb,wq,wk,wb,NaN,wr,True,True,True

In [62]:
df.to_csv('30_umap_seed'+str(seed)+'_epochs'+str(n_epochs)+'_neighbors'+str(n_neighbors)+'.csv')